<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/vue@3"></script>
    <link rel="stylesheet" href="css/colors.css">
    <link rel="stylesheet" href="css/style.css">
    <script type="module" src="js/App.js" async></script>
</head>

<body class="w-screen h-[100svh] bg-warm-white text-green">

    <!-- TEMPORARY DIV -->
    <div id="app" class="w-full flex flex-col gap-64 justify-center items-center">

        <!-- User boot Screen -->
        <section v-if="ShowAdminBoot" class="w-screen h-screen">
            <div class="w-full h-full flex justify-center items-center transition-opacity duration-500">
                <p class="text-[34px] font-bold">Welcome, Administrator!</p>
            </div>

        </section>
        <!-- ADMIN Login Screen -->
        <section v-if="ShowAdminLogin" class="w-screen h-screen flex justify-center items-center">
            <div class="bg-warm-white p-6 shadow-md w-[624px] h-[712px] border-[2px] border-green">
                <h2 class="text-[34px] font-bold text-green mt-14 mb-12">Administrator Login</h2>

                <label>
                    <span class="text-[22px] text-green"> Username </span>
                    <input v-model="username" type="text" id="Username" style="border: solid #325930;"
                        class="mt-0.5 mb-4 w-full h-[58px] outline-green shadow-sm sm:text-sm" />
                </label>

                <label for="Password">
                    <span class="text-[22px] text-green"> Password </span>
                    <input v-model="password" type="password" id="Password" style="border: solid #325930;"
                        class="mt-0.5 w-full h-[58px] outline-green shadow-sm sm:text-sm" />
                </label>

                <!-- Show this only when login fails -->
                <p v-if="loginFailed" class="text-[22px] text-error mt-3 mb-8">Invalid credentials. Access denied.</p>

                <button @click="checkLogin"
                    class="w-full text-center mt-24 py-2 inline-block border border-green bg-green px-12 py-3 text-[22px] font-medium text-warm-white hover:bg-[#F8EED1] hover:text-[#325930] focus:ring-3 focus:outline-hidden">
                    Login
                </button>
            </div>
        </section>










        <!-- USER BOOT SCREEN  -->
        <section v-if="ShowUserBoot" class="w-screen h-screen">
            <div class="w-full h-full flex justify-center items-center">
                <p class="text-green text-[34px] font-bold">Welcome, Schihyista!</p>
            </div>
        </section>








        <!-- USER MENU SCREEN -->
        <section v-if="ShowUserMenu" class="w-screen h-screen flex justify-center items-center">
            <div class="text-center">
                <img src="assets/logo.svg" alt="Logo" class="mx-auto mb-4 w-10 h-10">
                <h1 class="text-[28px] font-bold text-green-900">Mandaue City Science High School<br>Student Services
                    System
                </h1>
                <p class="mt-16 text-[22px] text-green">Please select a service:</p>

                <div class="mt-4 flex flex-col sm:flex-row justify-center gap-6">

                    <div class="w-full h-full">
                        <a href="#" @click.prevent="goToAdmissionForm" class="group relative block h-[427px] w-[469px]">
                            <span class="absolute inset-0 border-2 border-dashed border-black"></span>

                            <div
                                class="relative flex h-full transform items-center border-2 border-green bg-ivory group-hover:bg-[#F1D580]/50">
                                <div
                                    class="flex flex-col items-center !pt-0 transition-opacity group-hover:absolute sm:p-6 lg:p-8">
                                    <img src="assets/school-admissions.svg" class="size-20">
                                    <h2 class="mt-4 text-[28px] text-green font-bold sm:text-2xl">School Admission</h2>
                                    <p class="mt-4 text-[22px] text-green sm:text-base">
                                        Submit an application form to complete your admission
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="w-full h-full" id="app">
                        <a href="#" @click.prevent="goToRequestForm" class="group relative block h-[427px] w-[469px]">
                            <span class="absolute inset-0 border-2 border-dashed border-black"></span>

                            <div
                                class="relative flex h-full transform items-center border-2 border-green bg-ivory group-hover:bg-[#F1D580]/50">
                                <div
                                    class="flex flex-col items-center !pt-0 transition-opacity group-hover:absolute sm:p-6 lg:p-8">
                                    <img src="assets/document-requests.svg" class="size-20">
                                    <h2 class="mt-4 text-[28px] text-green font-bold sm:text-2xl">Document Request</h2>
                                    <p class="mt-4 text-[22px] text-green sm:text-base">
                                        Request student documents from the school registrar
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="w-full h-full">
                        <a href="#" @click.prevent="trackRequest" class="group relative block h-[427px] w-[469px]">
                            <span class="absolute inset-0 border-2 border-dashed border-black"></span>

                            <div
                                class="relative flex h-full transform items-center border-2 border-green bg-ivory group-hover:bg-[#F1D580]/50">
                                <div
                                    class="flex flex-col items-center !pt-0 transition-opacity group-hover:absolute sm:p-6 lg:p-8">
                                    <img src="assets/request-tracking.svg" class="size-20">
                                    <h2 class="mt-4 text-[28px] text-green font-bold sm:text-2xl">Request Tracking</h2>
                                    <p class="mt-4 text-[22px] text-green sm:text-base">
                                        View details and status of your request with a tracking code
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </section>






















        <!-- ADMISSION FORM  -->
        <section v-if="ShowAdmissionForm" class="w-screen flex justify-center items-center p-8 bg-ivory">
            <div class="bg-warm-white border-2 border-green p-9 w-[720px] shadow-lg text-green">
                <img src="assets/school-admissions.svg" alt="Logo" class="w-12 mb-9">
                <div class="flex items-center mb-3">
                    <h1 class="text-green-900 font-bold text-3xl">School Admission Form</h1>
                </div>
                <p class="text-base text-green mb-9">
                    Fill out all fields marked with an asterisk (*).<br>
                    Email address will only be used to notify you of regarding your admission.
                </p>

                <!-- Personal Information -->
                <div class="mb-9">

                    <label>
                        <span class="text-base font-medium text-green">First name*</span>

                        <input type="text" id="firstName" v-model="firstName" :class="[
                        'mt-0.5 w-full h-12 mb-2 px-3 outline-green bg-warm-white shadow-sm sm:text-base focus:outline-none focus:ring-0 focus:rounded-none',
                        submitted && !firstNameField ? 'transition-colors duration-500 border-[3px] border-red-500' : 'border-2 border-green'
                      ]" />
                    </label>
                    <p v-if="submitted && !firstNameField" class="text-sm text-error">This field is required.</p>

                    <label>
                        <span class="text-base font-medium text-green">Middle name</span>

                        <input type="text" id="middlename"
                            class="mt-0.5 mb-4 w-full h-12 px-3 border-2 border-green outline-green bg-warm-white shadow-sm sm:text-base focus:outline-none focus:ring-0 focus:rounded-none" />
                    </label>

                    <div class="flex gap-4 mt-2 mb-4">
                        <div class="flex-1">
                            <label>
                                <span class="text-base font-medium text-green">Last name*</span>

                                <input type="text" id="lastname" v-model="lastName" :class="[
                    'mt-0.5 w-full h-12 mb-2 px-3 outline-green bg-warm-white shadow-sm sm:text-base focus:outline-none focus:ring-0 focus:rounded-none',
                    submitted && !lastNameField ? 'transition-colors duration-500 border-[3px] border-red-500 font-bold' : 'border-2 border-green'
                  ]" />
                            </label>
                            <p v-if="submitted && !lastNameField" class="text-sm text-error">This field is required.</p>
                        </div>
                        <div class="w-36">
                            <label>
                                <span class="text-base font-medium text-green">Extension</span>
                                <select name="Headline" id="Headline"
                                    class="mt-0.5 w-full h-12 px-2 border-2 border-green outline-green bg-warm-white shadow-sm text-base focus:outline-none focus:ring-0 focus:rounded-none">
                                    <option value="">N/A</option>
                                    <option value="JM">Jr.</option>
                                    <option value="SRV">Sr.</option>
                                    <option value="JH">I</option>
                                    <option value="BBK">II</option>
                                    <option value="AK">III</option>
                                    <option value="BG">IV</option>
                                </select>
                            </label>
                        </div>
                    </div>

                    <label>
                        <span class="text-base font-medium text-green">Date of birth*</span>

                        <input type="date" id="dateofbirth" v-model="dateOfBirth" :max="currentDate" :class="[
                        'mt-0.5 w-full h-12 mb-2 px-3 outline-green bg-warm-white shadow-sm sm:text-base focus:outline-none focus:ring-0 focus:rounded-none',
                        submitted && !dateOfBirthField ? 'transition-colors duration-500 border-[3px] border-red-500 ' : 'border-2 border-green'
                      ]" />
                    </label>
                    <p v-if="submitted && !dateOfBirthField" class="text-sm text-error">Please enter a valid date of birth.
                    </p>

                    <label>
                        <span class="text-base font-medium text-green">Learner reference number*</span>

                        <input type="text" id="lrn" v-model="lrn" @input="isNumeric" :class="[
                        'mt-0.5 w-full h-12 mb-2 px-3 outline-green bg-warm-white shadow-sm sm:text-base focus:outline-none focus:ring-0 focus:rounded-none',
                        submitted && !lrnField ? 'transition-colors duration-500 border-[3px] border-red-500 ' : 'border-2 border-green'
                      ]" />
                    </label>
                    <p v-if="submitted && !lrnField" class="text-sm text-error">{{ lrnMessage }}</p>

                    <label>
                        <span class="text-base font-medium text-green">Home address*</span>

                        <input type="text" id="address" v-model="homeAddress" :class="[
                        'mt-0.5 w-full h-12 mb-2 px-3 outline-green bg-warm-white shadow-sm sm:text-base focus:outline-none focus:ring-0 focus:rounded-none',
                        submitted && !homeAddressField ? 'transition-colors duration-500 border-[3px] border-red-500 ' : 'border-2 border-green'
                      ]" />
                    </label>
                    <p v-if="submitted && !homeAddressField" class="text-sm text-error">This field is required.</p>

                    <label>
                        <span class="text-base font-medium text-green">Email address</span>

                        <input type="text" id="email" v-model="email" :class="[
                        'mt-0.5 w-full h-12 mb-2 px-3 outline-green bg-warm-white shadow-sm sm:text-base focus:outline-none focus:ring-0 focus:rounded-none',
                        submitted && !emailField ? 'transition-colors duration-500 border-[3px] border-red-500 ' : 'border-2 border-green'
                      ]" />
                    </label>
                    <p v-if="submitted && !emailField" class="text-sm text-error">{{ emailMessage }}
                        <span class="text-base font-medium text-green">Grade level*</span>

                        <select name="Headline" id="Headline" v-model="admissionLevel" :class="[
                        'mt-0.5 w-full h-12 mb-2 px-3 outline-green bg-warm-white shadow-sm sm:text-base focus:outline-none focus:ring-0 focus:rounded-none',
                        submitted && !admissionLevel? 'transition-colors duration-500 border-[3px] border-red-500 ' : 'border-2 border-green'
                    ]">
                            <option value="">Please Select</option>
                            <option value="7">Grade 7</option>
                            <option value="11">Grade 11</option>

                        </select>
                    </label>
                </div>

                <!-- Buttons -->
                <div class="flex justify-between">
                    <a class="text-center inline-block border-2 border-warm-white bg-ivory px-6 py-3 text-base font-bold text-green hover:bg-[#F1D580]/50"
                        href="#" @click.prevent="goToMenu">
                        Cancel
                    </a>

                    <a class="text-center inline-block bg-green px-6 py-3 text-base font-bold text-warm-white hover-bg-mid-green"
                        href="#" @click.prevent="validateAdmissionForm">
                        Submit request
                    </a>
                </div>

            </div>
        </section>
















        <!-- DOCUMENT REQUEST SCREEN -->
        <section v-if="ShowUserRequest" class="w-screen flex justify-center items-center p-8 bg-ivory">
            <div class="bg-warm-white border-2 border-green p-9 w-[720px] shadow-lg text-green">
                <img src="assets/document-requests.svg" alt="Logo" class="w-12 mb-9">
                <div class="flex items-center mb-3">
                    <h1 class="text-green-900 font-bold text-3xl">Document Request Form</h1>
                </div>
                <p class="text-base text-green mb-9">
                    Fill out all fields marked with an asterisk (*).<br>
                    Email address will only be used to notify you of the status of your request.
                </p>

                <!-- Personal Information -->
                <div class="mb-9">
                    <h2 class="text-green text-xl font-bold mb-4">Personal Information</h2>

                    <label>
                        <span class="text-base font-medium text-green">First name*</span>

                        <input type="text" id="fnameReq" v-model="firstNameReq" :class="[
                        'mt-0.5 w-full h-12 mb-2 px-3 outline-green bg-warm-white shadow-sm sm:text-base focus:outline-none focus:ring-0 focus:rounded-none',
                        submitted && !firstNameReqField ? 'transition-colors duration-500 border-[3px] border-red-500' : 'border-2 border-green'
                      ]" />
                    </label>
                    <p v-if="submitted && !firstNameReqField" class="text-sm text-error">This field is required.</p>


                    <label>
                        <span class="text-base font-medium text-green">Middle name</span>

                        <input type="text" id="mnameReq" v-model="middleNameReq"
                            class="mt-0.5 mb-4 w-full h-12 px-3 border-2 border-green outline-green bg-warm-white shadow-sm sm:text-base focus:outline-none focus:ring-0 focus:rounded-none" />
                    </label>

                    <div class="flex gap-4 mt-2 mb-4">
                        <div class="flex-1">
                            <label>
                                <span class="text-base font-medium text-green">Last name*</span>

                                <input type="text" id="lnameReq" v-model="lastNameReq" :class="[
                                'mt-0.5 w-full h-12 mb-2 px-3 outline-green bg-warm-white shadow-sm sm:text-base focus:outline-none focus:ring-0 focus:rounded-none',
                                submitted && !lastNameReqField ? 'transition-colors duration-500 border-[3px] border-red-500 ' : 'border-2 border-green'
                            ]" />
                            </label>
                            <p v-if="submitted && !lastNameReqField" class="text-sm text-error">This field is required.</p>

                        </div>

                        <div class="w-36 flex flex-col">

                            <label>
                                <span class="text-base font-medium text-green">Extension</span>

                                <select name="Headline" id="Headline" v-model="extensionReq"
                                    class="mt-0.5 w-full h-12 px-2 border-2 border-green outline-green bg-warm-white shadow-sm text-base focus:outline-none focus:ring-0 focus:rounded-none">
                                    <option value="">N/A</option>
                                    <option value="JM">Jr.</option>
                                    <option value="SRV">Sr.</option>
                                    <option value="JH">I</option>
                                    <option value="BBK">II</option>
                                    <option value="AK">III</option>
                                    <option value="BG">IV</option>
                                </select>
                            </label>
                        </div>
                    </div>
                    <label>
                        <span class="text-base font-medium text-green">Learner reference number*</span>

                        <input type="text" id="lrnReq" v-model="lrnReq"  @input="isNumeric":class="[
                        'mt-0.5 w-full h-12 mb-2 px-3 outline-green bg-warm-white shadow-sm sm:text-base focus:outline-none focus:ring-0 focus:rounded-none',
                        submitted && !lrnReqField ? 'transition-colors duration-500 border-[3px] border-red-500 ' : 'border-2 border-green'
                    ]" />
                    </label>
                    <p v-if="submitted && !lrnReqField" class="text-sm text-error">{{ lrnMessage }}</p>

                    <label>
                        <span class="text-base font-medium text-green">Email address</span>

                        <input type="text" id="emailReq" v-model="emailReq" :class="[
                        'mt-0.5 w-full h-12 mb-2 px-3 outline-green bg-warm-white shadow-sm sm:text-base focus:outline-none focus:ring-0 focus:rounded-none',
                        submitted && !emailReqField ? 'transition-colors duration-500 border-[3px] border-red-500 ' : 'border-2 border-green'
                    ]" />
                    </label>
                    <p v-if="submitted && !emailReqField" class="text-sm text-error">{{ emailMessage }}</p>
                </div>

                <!-- Request Details -->
                <div class="mb-9">
                    <h2 class="text-green text-xl font-bold mb-4">Request Details</h2>

                    <label>
                        <span class="text-base font-medium text-green">Document type*</span>

                        <select name="Headline" id="Headline" v-model="documentType" :class="[
                        'mt-0.5 w-full h-12 mb-2 px-3 outline-green bg-warm-white shadow-sm sm:text-base focus:outline-none focus:ring-0 focus:rounded-none',
                        submitted && !documentType ? 'transition-colors duration-500 border-[3px] border-red-500 ' : 'border-2 border-green'
                    ]">
                            <option v-for="document in docType" :value="document.docu_id">{{ document.docu_type }}</option>
                            
                        </select>
                    </label>
                    <p v-if="submitted && !documentType" class="text-sm text-error">This field is required.</p>

                    <label>
                        <span class="text-base font-medium text-green">Purpose of request*</span>

                        <input type="text" id="purposeReq" v-model="purpose" :class="[
                        'mt-0.5 w-full h-12 mb-2 px-3 outline-green bg-warm-white shadow-sm sm:text-base focus:outline-none focus:ring-0 focus:rounded-none',
                        submitted && !purposeReqField ? 'transition-colors duration-500 border-[3px] border-red-500 ' : 'border-2 border-green'
                    ]" />
                    </label>
                    <p v-if="submitted && !purposeReqField" class="text-sm text-error">This field is required.</p>

                </div>

                <!-- Buttons -->
                <div class="flex justify-between">
                    <a class="text-center inline-block border-2 border-warm-white bg-ivory px-6 py-3 text-base font-bold text-green hover:bg-[#F1D580]/50"
                        href="#" @click.prevent="goToMenu">
                        Cancel
                    </a>

                    <a class="text-center inline-block bg-green px-6 py-3 text-base font-bold text-warm-white hover-bg-mid-green"
                        href="#" @click.prevent="submitRequest">
                        Submit request
                    </a>
                </div>

            </div>
        </section>















        <!-- SERVICE SUCCESS  REQUEST SCREEN-->
        <section v-if="ShowServiceRequestSuccess" class="w-screen h-screen flex justify-center items-center bg-ivory">
            <div
                class="w-[30rem] min-h-[320px] p-9 bg-warm-white border-2 border-green flex justify-center items-center shadow-md">
                <div class="text-center">
                    <p class="text-green text-base">We have sent your document request!</p>
                    <p class="text-green text-base">Your tracking code is: <span class="font-bold">{{ requestDetail["req_track_id"]}}</span></p>

                    <div class="flex justify-center mt-9">
                        <a class="text-center inline-block bg-green px-6 py-3 text-base font-bold text-warm-white hover-bg-mid-green"
                            href="#" @click.prevent="goToMenu">
                            Back to menu
                        </a>
                    </div>
                </div>
            </div>
        </section>'
        
        

        <!-- SERVICE SUCCESS  ADMISSION SCREEN-->
        <section v-if="ShowServiceAdmissionSuccess" class="w-screen h-screen flex justify-center items-center bg-ivory">
            <div
                class="w-[30rem] min-h-[320px] p-9 bg-warm-white border-2 border-green flex justify-center items-center shadow-md">
                <div class="text-center">
                    <p class="text-green text-base">Admission request has been sent !</p>
                    <p class="text-green text-base">Your Admission id is: <span class="font-bold">{{ admissionResponse["adms_id"]}}</span></p>

                    <div class="flex justify-center mt-9">
                        <a class="text-center inline-block bg-green px-6 py-3 text-base font-bold text-warm-white hover-bg-mid-green"
                            href="#" @click.prevent="goToMenu">
                            Back to menu
                        </a>
                    </div>
                </div>
            </div>
        </section>






        <!-- REQUEST TRACKING SCREEN-->
        <section v-if="ShowTrackRequest" class="w-screen h-screen flex justify-center items-center bg-ivory">
            <div class="bg-warm-white p-9 shadow-md w-[540px] border-2 border-green ">

                <a class="inline-block text-green hover:bg-[#325930] hover:text-[#F8EED1] focus:ring-3 focus:outline-none"
                    href="#" @click.prevent="goToMenu">
                    <svg class="size-5 rotate-180" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                        stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M14 5l7 7m0 0l-7 7m7-7H3" />
                    </svg>
                </a>


                <h2 class="text-xl font-bold text-green-900 mt-9 mb-3">Request Tracking</h2>
                <p class="text-green text-base mb-4">Enter request ID to see details and status.</p>

                <label>
                    <input type="text" id="trackID" v-model="trackID" @input="isNumeric" :class="[
                    'mt-0.5 w-full h-12 mb-6 px-3 outline-green bg-warm-white shadow-sm sm:text-base focus:outline-none focus:ring-0 focus:rounded-none',
                    submitted && !trackID ? 'transition-colors duration-500 border-[3px] border-red-500 font-bold' : 'border-2 border-green'
                  ]" />
                </label>
                <p v-if="submitted && !trackID" class="text-base text-error mb-4">This field is required.</p>

                <div class="flex justify-center">
                    <a class="w-full text-center inline-block bg-green px-6 py-3 text-base font-bold text-warm-white hover-bg-mid-green"
                        href="#" @click.prevent="submitTrackID">
                        Track request
                    </a>

                </div>

            </div>
        </section>






        <!-- REQUEST DETAILS -->
        <section v-if="ShowRequestDetails" class="w-screen h-screen flex justify-center items-center bg-ivory">
            <div
                class="w-[30rem] min-h-[320px] p-9 bg-warm-white border-2 border-green flex justify-center items-center shadow-md">
                <div class="text-center">
                    <h2 class="text-xl font-bold text-green-900 mb-9">Request Tracking</h2>
                <p class="text-green" v-if="request == null">Fetching data .....</p>
                <div v-if="request != null">
                    <p class="mb-4 font-bold text-green text-base">Tracking Code: {{ request.req_track_id }}</p>

                    <p class="text-green text-base">Document: {{ request.docu_type }}</p>
                    <p class="text-green text-base">Requested by: {{ request.stud_fname +" "+ request.stud_mname +" "+ request.stud_lname }}</p>
                    <p class="text-green text-base">Email Address: {{ request.stud_email }}</p>
                    <p class="text-green text-base">Purpose: {{ request.req_purpose }}</p>
                    <p class="font-bold text-green text-base">Status: {{ request.req_status }}</p>
                </div>
                <p  class="text-green" v-if="request === null && errorStatus !== 200">No result found.</p>
                    <div class="flex justify-center mt-9">
                        <a class="text-center inline-block bg-green px-6 py-3 text-base font-bold text-warm-white hover-bg-mid-green"
                            href="#" @click.prevent="goToMenu">
                            Back to menu
                        </a>
                    </div>
                </div>
            </div>
        </section>

    </div>



</body>

</html>