:root {
    --warm-white: #FFF9E6;
    --ivory: #F8EED1;
    --mid-green: #74844C;
    --green: #325930;
    --error: #D9534F;
}

.bg-warm-white {
    background-color: var(--warm-white);
}
.bg-ivory {
    background-color: var(--ivory);
}
.bg-mid-green {
    background-color: var(--mid-green);
}
.bg-green {
    background-color: var(--green);
}
.bg-error {
    background-color: var(--error);
}

.text-warm-white {
    color: var(--warm-white);
}
.text-ivory {
    color: var(--ivory);
}
.text-mid-green {
    color: var(--mid-green);
}
.text-green {
    color: var(--green);
}
.text-error {
    color: var(--error);
}

.border-warm-white {
    border-color: var(--warm-white);
}
.border-ivory {
    border-color: var(--ivory);
}
.border-mid-green {
    border-color: var(--mid-green);
}
.border-green {
    border-color: var(--green);
}
.border-error {
    border-color: var(--error);
}

.outline-warm-white {
    outline-color: var(--warm-white);
}
.outline-ivory {
    outline-color: var(--ivory);
}
.outline-mid-green {
    outline-color: var(--mid-green);
}
.outline-green {
    outline-color: var(--green);
}
.outline-error {
    outline-color: var(--error);
}

.hover-bg-warm-white:hover {
    background-color: var(--warm-white);
}
.hover-bg-ivory:hover {
    background-color: var(--ivory);
}
.hover-bg-mid-green:hover {
    background-color: var(--mid-green);
}
.hover-bg-green:hover {
    background-color: var(--green);
}
.hover-bg-error:hover {
    background-color: var(--error);
}

.hover-text-warm-white:hover {
    color: var(--warm-white);
}
.hover-text-ivory:hover {
    color: var(--ivory);
}
.hover-text-mid-green:hover {
    color: var(--mid-green);
}
.hover-text-green:hover {
    color: var(--green);
}
.hover-text-error:hover {
    color: var(--error);
}

.hover-border-warm-white:hover {
    border-color: var(--warm-white);
}
.hover-border-ivory:hover {
    border-color: var(--ivory);
}
.hover-border-mid-green:hover {
    border-color: var(--mid-green);
}
.hover-border-green:hover {
    border-color: var(--green);
}
.hover-border-error:hover {
    border-color: var(--error);
}

.hover-outline-warm-white:hover {
    outline-color: var(--warm-white);
}
.hover-outline-ivory:hover {
    outline-color: var(--ivory);
}
.hover-outline-mid-green:hover {
    outline-color: var(--mid-green);
}
.hover-outline-green:hover {
    outline-color: var(--green);
}
.hover-outline-error:hover {
    outline-color: var(--error);
}

.focus-bg-warm-white:focus {
    background-color: var(--warm-white);
}
.focus-bg-ivory:focus {
    background-color: var(--ivory);
}
.focus-bg-mid-green:focus {
    background-color: var(--mid-green);
}
.focus-bg-green:focus {
    background-color: var(--green);
}
.focus-bg-error:focus {
    background-color: var(--error);
}

.focus-text-warm-white:focus {
    color: var(--warm-white);
}
.focus-text-ivory:focus {
    color: var(--ivory);
}
.focus-text-mid-green:focus {
    color: var(--mid-green);
}
.focus-text-green:focus {
    color: var(--green);
}
.focus-text-error:focus {
    color: var(--error);
}

.focus-border-warm-white:focus {
    border-color: var(--warm-white);
}
.focus-border-ivory:focus {
    border-color: var(--ivory);
}
.focus-border-mid-green:focus {
    border-color: var(--mid-green);
}
.focus-border-green:focus {
    border-color: var(--green);
}
.focus-border-error:focus {
    border-color: var(--error);
}

.focus-outline-warm-white:focus {
    outline-color: var(--warm-white);
}
.focus-outline-ivory:focus {
    outline-color: var(--ivory);
}
.focus-outline-mid-green:focus {
    outline-color: var(--mid-green);
}
.focus-outline-green:focus {
    outline-color: var(--green);
}
.focus-outline-error:focus {
    outline-color: var(--error);
}
