@font-face {
    font-family: 'Figtree';
    src: url('../assets/Figtree-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Figtree';
    src: url('../assets/Figtree-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}


* {
    font-family: Figtree;
    accent-color: var(--green);
    box-sizing: border-box;
}

::-webkit-calendar-picker-indicator {
    filter: invert(29%) sepia(36%) saturate(455%) hue-rotate(81deg) brightness(92%) contrast(90%);
}